doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Shelter
    link(rel='stylesheet', type='text/css', href='/style/main.css')
    link(rel='stylesheet', type='text/css', href='/style/register.css')
  body
    include partials/header.pug
    .panel-container
      .panel-heading
        h3
          | Реєстрація тварини
      .panel-body
        form.comment-form(method='post', action='/animals')
          .form-group
            label(for='name-field')
              p Ім'я тварини:
            input#name-field.form-control(name='name', required='' )
          
          label 
            p Вік:
          select.form-control( name='age' size='3')
            option 1 
            option 2 
            option 3 
            option 4 
            option 5 
            option 6 

          .form-group.radio
            label
              p Чоловіча
            input.form-control.radio-btn(type='radio', name='gender', value='Чоловіча')
            label
              p Жіноча
            input.form-control.radio-btn(type='radio', name='gender', value='Жіноча') 
             
          .form-group
            label(for='last_name-field')
              p Посилання на фото:
            input#last_name-field.form-control(name='photo_url', placeholder='URL')
          input.btn.btn-register--acaunt(type='submit', name='', value='Добавити тварину')
      
