doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Shelter
    link(rel='stylesheet', type='text/css', href='style/main.css')
    link(rel='stylesheet', type='text/css', href='style/animals.css')
  body
    include partials/header.pug
    .content-container
      h2  Оголошення тварин
      h6
        | Для того щоб додати свою тварину,спершу 
        a.btn-h6(href='/register') Зарегіструйтесь
        | , після цього 
        a.btn-h6(href='/animals/new')
          |  добавте тваринку
        
    .animals-container
      each animal in animalArray 
        .animals-pattern
          .animal-header
            .animal-user--avatar
              img(src='')
              | Avatar
            .animal-user--name
              | #{animal.human}
          .animal-pet--section
            .animal-pet--avatar
            .animal-pet--info
              span.pet-name= animal.name
              ul.pet-info
                li
                  p Вік
                  p #{animal.age}
                li
                  p Стать
                  p #{animal.gender}
                li
                  p Порода
                  p Дворняга
