doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Shelter
    link(rel='stylesheet', type='text/css', href='style/main.css')
    link(rel='stylesheet', type='text/css', href='style/register.css')
    style.
      .panel-body{
      height:150px;
      }
  body
    include partials/header.pug
    .panel-container
      .panel-heading
        h3
          | Sign in
      .panel-body
        form(method='post', action='')
          .form-group
            label(for='sign_in-email')
              p Forgot your password?
            input#sign_in-email.form-control(type='email', placeholder='Yor email', required='')
          input.btn.btn-register--acaunt(type='submit', name='commit', value='Send')
      ul.hover
        li
          a(href='/login') Увійти
        li
          a(href='/register') Зареєструватись
