doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Shelter
    link(rel='stylesheet', type='text/css', href='style/main.css')
    link(rel='stylesheet', type='text/css', href='style/content1.css')
  body
    header.header-fixed.clearfix
      .nav-links
        ul
          li.nav-link--log
            a.nav-size--logo(href='/') Shelter
          li
            a.size(href='/animals') Тварини
          li
            a.size(href='#') Оголошення
      .sociable-links
        ul
          li
            a.sociable-button--sign_in.btn(href='/login') Увійти
          li.sociable-link--btn
            a.sociable-button--register.btn(href='/register') Зареєструватись
    .block-container.background-white
      .content-container
        .opacity-container
          .text-container
            h1.text-h Вітаємо Вас у Shelter!
            p.text-p І у людей, і у собак одне бажання — бути коханими. 
            br
            p.text-p2 Пам'ятайте про це.
      .content-btn
        ul
          li.btn-about_us
            a.btn-about_us.btn(href='/about') Про нас
          li.btn-urgently
            a.btn-urgently.btn(href='#') Термінові оголошення!
    .block-container
    .block-container.fixed-position
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
