doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Shelter
    link(rel='stylesheet', type='text/css', href='style/main.css')
    link(rel='stylesheet', type='text/css', href='style/register.css')
  body
    header.header-fixed.clearfix.fixed
      .nav-links
        ul
          li.nav-link--log
            a.nav-size--logo(href='/') Shelter
          li
            a.size(href='#') Тварини
          li
            a.size(href='#') Оголошення
      .sociable-links
        ul
          li
            a.sociable-button--sign_in.btn(href='/login') Увійти
          li.sociable-link--btn
            a.sociable-button--register.btn(href='/register') Зареєструватись
    .panel-container
      .panel-heading
        h3
          | Регістрація акаунту
      .panel-body
        form.comment-form(method='post', action='/new_user')
          .form-group
            label(for='email-field')
              p Емейл:
              p
            input#email-field.form-control(type='email', name='email', placeholder='Your email', required='')
          .form-group
            label(for='name-field')
              p Ім'я:
            input#name-field.form-control(type='name', name='first_name', required='', placeholder='Your name')
          .form-group
            label(for='last_name-field')
              p Прізвище:
            input#last_name-field.form-control(type='last_name', name='last_name', placeholder='Your last name')
          .form-group
            label(for='user_date_of_birthdey')
              p Дата народження :
            select#user_date_of_birthdey
              option(value='1990') 1990
              option(value='1991') 1991
              option(value='1992') 1992
              option(value='1993') 1993
              option(value='1994') 1994
              option(value='1995') 1995
              option(value='1996') 1996
              option(value='1997') 1997
              option(value='1998') 1998
              option(value='1999') 1999
              option(value='2000') 2000
              option(value='2001') 2001
              option(value='2002') 2002
              option(value='2003') 2003
              option(value='2004') 2004
              option(value='2005') 2005
              option(value='2006') 2006
              option(value='2007') 2007
              option(value='2009') 2009
              option(value='2010') 2010
              option(value='2011') 2011
              option(value='2012') 2012
              option(value='2013') 2013
              option(value='2014') 2014
              option(value='2015') 2015
              option(value='2016') 2016
              option(value='2017') 2017
            select#user-date-mounts
              option(value='Jaunary') January
              option(value='February') February
              option(value='March') March
              option(value='April') April
              option(value='May') May
              option(value='June') June
              option(value='July') July
              option(value='August') August
              option(value='September') September
              option(value='October') October
              option(value='November') November
              option(value='December') December
            select#user-data-day
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='4') 4
              option(value='5') 5
              option(value='6') 6
              option(value='7') 7
              option(value='8') 8
              option(value='9') 9
              option(value='10') 10
              option(value='11') 11
              option(value='12') 12
              option(value='13') 13
              option(value='14') 14
              option(value='15') 15
              option(value='16') 16
              option(value='17') 17
              option(value='18') 18
              option(value='19') 19
              option(value='20') 20
              option(value='21') 21
              option(value='22') 22
              option(value='23') 23
              option(value='24') 24
              option(value='25') 25
              option(value='26') 26
              option(value='27') 27
              option(value='28') 28
              option(value='29') 29
              option(value='30') 30
              option(value='31') 31
          .form-group
            label(for='number-phone')
              p Ваш номер телефону:
            input#number-phone.form-control(type='number', name='number', placeholder='Введіть номер телефону ', required='')
          .form-group
            label(for='about-you')
              p Про Вас:
            textarea#about-you.form-control(name='you', rows='5', cols='50')
          .form-group
            label(for='password-field')
              p Пароль:
            input#password-field.form-control(type='password', name='password', placeholder='Введіть пароль', required='')
          .form-group
            label(for='password-field-true')
              p Підтвердження Пароля:
            input#password-field-true.form-control(type='password', name='password', placeholder='Ввeдіть ще раз пароль', required='')
          input.btn.btn-register--acaunt(type='submit', name='commit', value='Зареєструвати акаунт')
      ul.hover
        li
          a(href='/forgot_password') Забули пароль?
        li
          a(href='/login') Увійти
