.animals-pattern
  .animal-header
    .animal-user--avatar
      img(src='')
      | Avatar
    .animal-user--name
      | Denus Romanchuk
  .animal-pet--section
    .animal-pet--avatar
    .animal-pet--info
      span.pet-name Corso
      ul.pet-info
        li
          p Вік
          p 2
        li
          p Стать
          p Вона
        li
          p Порода
          p Дворняга
